@import url('https://fonts.googleapis.com/css?family=Cabin:400,600,700&display=swap');

:root {
  --primary-color: hsl(36, 94%, 52%);
  --secondary-color: hsl(227, 21%, 13%);
  --font-color: hsl(0, 0%, 7%);
  --box-shadow: hsla(0, 0%, 0%, 0.1) 0px 0px 0px 1px,
    hsla(0, 0%, 0%, 0.1) 0px 3px 9px;
  --border: 1px solid hsl(0, 0%, 93%);
  --dark-bg: hsl(227, 17%, 16%);
  --dark-tasks-bg: hsl(224, 16%, 18%);
  --dark-font-color: hsl(0, 0%, 100%);
  --dark-font-color-secondary: hsl(0, 0%, 60%);
  --dark-border: 1px solid hsl(227, 19%, 14%);
  --dark-hover: hsl(224, 16%, 18%);
  --dark-input: hsl(224, 16%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
}

@mixin btn($width) {
  background-color: var(--primary-color);
  color: #fff;
  width: $width;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 8px 12px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  border: 0;
  cursor: pointer;
}

@mixin df($df-align: center) {
  display: flex;
  align-items: center;

  @if $df-align != center {
    justify-content: left;
  } @else {
    justify-content: center;
  }
}

@mixin abort {
  color: hsl(0, 2%, 40%);
  font-size: 1.4rem;
  padding: 8px 12px;
  margin: 0 8px;
  cursor: pointer;
}

@mixin task-item {
  list-style-type: none;
  display: flex;
  line-height: 1.8;
  color: #333;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.4rem;
  list-style-type: none;
  border-bottom: 1px solid hsl(0, 0%, 94%);
  cursor: pointer;

  &:hover {
    background-color: hsl(0, 0%, 98%);
  }
}

@mixin mq($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin box {
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 3.4rem;
  border-radius: 4px;
}

@mixin not-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  background-color: var(--primary-color);
  transition: height 200ms ease-in;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 4.8rem;
  z-index: 9999;
  top: 0;
  width: 100%;
  position: fixed;

  @include mq('860px') {
    padding: 0 10px;
  }

  .nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 98rem;
    margin: auto;
    height: 100%;

    li {
      color: var(--secondary-color);
    }

    .logo {
      padding-left: 1rem;
      grid-area: 1 / 1;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .nav__right {
      grid-area: 1 / 2;
      text-align: right;

      ul {
        display: flex;
        justify-content: flex-end;
      }

      ul li {
        @include df;

        list-style-type: none;
        cursor: pointer;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 0;

        &:hover {
          border-radius: 3px;
          background-color: hsla(0, 0%, 100%, 0.3);
        }

        &.nav__add {
          margin-right: 1.4rem;
        }
        button {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          font-size: 2.3rem;
        }
        span {
          display: inline-block;
        }
      }
    }
  }
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  max-width: 98rem;
  margin: auto;
  position: relative;
}

.tasks {
  //width: 80rem;
  border-left: var(--border);
  height: calc(100vh);
  padding: 8.8rem 4rem;
  width: 68rem;
  max-width: 68rem;
  background: hsl(0, 0%, 98%);

  @include mq('860px') {
    margin-right: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 3rem 2rem 0;
  }

  .add-task {
    margin-top: 2rem;
  }

  &__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    border-bottom: var(--border);

    .checkbox-wrapper {
      margin-right: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      line-height: 1.8rem;

      .checkbox {
        cursor: pointer;
        border-color: hsl(0, 0%, 50%);
        color: hsl(0, 0%, 20%);
        height: 1.8rem;
        width: 1.8rem;
        display: block;
        border: 1px solid hsl(0, 0%, 50%);
        border-radius: 100%;
      }
    }
  }
}

.sidebar {
  height: 100vh;
  width: 30rem;
  background: #fff;
  display: flex;
  flex-direction: column;

  padding-top: 8.8rem;
  border-left: var(--border);

  &__list {
    li {
      list-style-type: none;
      color: hsl(0, 0%, 20%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      line-height: 1.5;
      font-size: 1.6rem;
      padding-left: 0;
      padding-right: 0;

      div:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 0 10px 10px;
        width: 100%;

        span:first-of-type {
          margin-right: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          svg {
            width: 18px;
            height: 18px;
            color: hsl(0, 0%, 30%);
          }
        }
      }

      &.active,
      &:hover {
        font-weight: 700;
        background-color: hsl(0, 0%, 98%);
      }
    }
  }

  &__mid {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    border-top: 1px solid hsl(0, 0%, 93%);
    padding-left: 10px;
    cursor: pointer;

    span {
      color: hsla(0, 0%, 0%, 0.5);
      margin-right: 10px;
      line-height: 1;

      svg.hidden-projects {
        transform: rotate(-90deg);
      }
    }

    h2 {
      margin: 0;
      color: hsl(0, 0%, 20%);
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__projects {
    li {
      &:hover .sidebar__project-delete {
        display: flex;
        padding-right: 1rem;
      }
    }
  }

  &__square {
    margin-right: 1.2rem;
    font-size: 3.4rem;
    line-height: 1.7rem;
  }

  &__project {
    @include df('left');
    cursor: pointer;
    position: relative;
    padding-left: 1rem;

    & > div:nth-child(1) {
      padding: 5px 0;
      padding-left: 10px;
      padding-right: 15px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    &-name {
      font-size: 1.6rem;
      padding: 10px 0 10px 10px;
      &.active,
      &:hover {
        font-weight: 600;
      }
    }

    &-delete {
      margin-left: auto;
      display: none;

      svg {
        color: hsl(2, 77%, 58%);
        font-size: 1.6rem;
      }
    }

    &.active,
    &:hover {
      background-color: hsl(0, 0%, 98%);
    }

    &:nth-child(1) {
      .sidebar__square {
        color: hsl(59, 76%, 69%);
      }
    }
    &:nth-child(2) {
      .sidebar__square {
        color: hsl(197, 98%, 50%);
      }
    }
    &:nth-child(3) {
      .sidebar__square {
        color: hsl(115, 100%, 76%);
      }
    }
    &:nth-child(4) {
      .sidebar__square {
        color: hsl(9, 100%, 60%);
      }
    }
    &:nth-child(5) {
      .sidebar__square {
        color: hsl(300, 82%, 57%);
      }
    }
  }

  .project-delete-modal {
    // position: relative;

    &__inner {
      @include box();
      z-index: 999;
      width: 22rem;
      padding: 1rem;
      right: 0;
      background-color: #fff;

      p {
        padding: 1.2rem 0;
        line-height: 1;
        font-size: 1.4rem;
      }

      button {
        @include btn('5.4rem');
      }
      span {
        @include abort();
      }
    }
  }
}

.add-project {
  padding-left: 13px;
  padding-right: 2rem;
  margin-top: 2rem;

  &__input {
    margin-bottom: 2rem;
  }

  &__name {
    width: 100%;
    border: 0;
    background-color: hsl(0, 0%, 98%);
    border-radius: 3px;
    height: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__btn {
    @include btn('100px');
  }

  &__cancel {
    @include abort();
  }
}

.dropdown {
  @include box();
  background-color: #fff;
  overflow: hidden;
  top: 3.4rem;
  right: 0;
  width: 20rem;
  overflow: hidden;

  @include mq('860px') {
    width: 20rem;
    right: 0;
  }

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__list li {
    @include task-item();
    padding: 0;

    &:last-child {
      border-bottom: 0;
    }

    & > div {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      position: relative;

      &.active::after {
        content: '✔';
        position: absolute;
        right: 1rem;
      }

      span {
        display: inline-flex;
        padding: 0 5px;
      }
    }
  }
  &__btn {
    cursor: pointer;
    float: right;
    color: gray;
    margin: 1rem 1rem;
  }
}

.add-task {
  &__overlay {
    background: rgba(102, 102, 102, 0.5);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    transition: opacity 0.2s ease-in;
    height: calc(100vh);

    .add-task__main {
      @include mq('860px') {
        width: 90%;
      }

      overflow: visible;
      border-radius: 5px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 20%;
      padding: 2rem 3rem;
      transform: translate(-50%, -50%);
      min-width: 40%;
    }
  }
  &__main {
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  &__title {
    font-size: 13px;
  }

  &__cancel-btn {
    cursor: pointer;
    color: gray;
    float: right;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__project {
    margin-right: 0;
  }

  &__content {
    width: 100%;
    border: 1px solid hsl(0, 0%, 93%);
    background-color: #fff;
    border-radius: 3px;
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  &__cancel,
  &__icon {
    @include not-select;
  }

  &__cancel {
    @include abort();
  }

  &__btn {
    @include btn('90px');
  }

  &__settings {
    display: flex;
  }

  &__btns {
    flex: 1;
  }
}

.add-task__slight {
  @include df('left');
}

.add-task__slight,
.add-project {
  @include not-select;
  cursor: pointer;
  margin-bottom: 2rem;
}

.add-task__icon,
.add-project__icon {
  color: var(--primary-color);
  font-size: 18px;
  margin-left: 0.5rem;
}

.add-task__text,
.add-project__text {
  display: inline-block;
  color: hsl(0, 0%, 33%);
  font-size: 1.4rem;
}

.App.dark {
  background-color: var(--dark-bg);
  color: var(--dark-font-color);
  h2 {
    color: var(--dark-font-color-secondary);
  }
  .header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .nav {
    &__add {
      button {
        color: var(--primary-color);
      }
    }
  }
  .tasks {
    background-color: var(--dark-tasks-bg);
    border-left: var(--dark-border);
    &__list {
      li {
        color: var(--dark-font-color);
        border-bottom: var(--dark-border);
      }
    }
  }
  .sidebar {
    background-color: var(--dark-bg);
    color: var(--dark-font-color);
    border-left: var(--dark-border);
    &__list {
      li {
        color: var(--dark-font-color);
        &.active,
        &:hover {
          background-color: var(--dark-hover);
        }
      }
    }
    &__project {
      &.active,
      &:hover {
        background-color: var(--dark-hover);
      }
    }
    &__mid {
      border-top: var(--dark-border);
      border-bottom: var(--dark-border);
      span {
        color: var(--dark-font-color-secondary);
      }
    }
  }

  .add {
    &-project__text,
    &-task__text {
      color: var(--dark-font-color-secondary);
    }
  }

  .add-task {
    &__content {
      background-color: var(--dark-input);
      border: var(--dark-border);
      color: var(--dark-font-color);
    }
    &__main {
      background-color: var(--dark-tasks-bg);
    }
  }

  .add-project {
    &__name {
      background-color: var(--dark-input);
      border: var(--dark-border);
      color: var(--dark-font-color);
    }
  }

  .dropdown {
    &__list {
      li {
        background: var(--dark-bg);
        border: var(--dark-border);
        color: var(--dark-font-color);
      }
    }
  }
}
